.App {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
button{
  margin: 2px 10px;
  padding: 3px 5px;
  border-radius: 5px;
}
.header{
    position: sticky;
    top: 0px;
    background: rgb(243, 190, 190);
}
.card{
  border: solid black 2px;
  background-color: wheat;
  border-radius: 10px;
  width: 234px;
  margin:5px
}
.profile-photo{
  width: 234px;
  border-radius: 7px;
}
.navbar{
  position: sticky;
  top: 0px;
  background-color: sienna;
  padding: 15px;
}
